<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Rompe si se saca de esta seccion -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css'>
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

  <%- include('../partials/headHome')%>
</head>



<body>
  <main class="container-fluid">
    <div class="bg" id="top"></div>

    <%- include('../partials/navBar')%>


    <%- include('../partials/pandemicBanner')%>


    <%- include('../partials/mainCarrusel')%>


    <%- include('../partials/categoryHex')%>


    <p class="titulos"><a class="titulos-a" href="/categorias">
        DESTACADOS
      </a></p>

    <%- include('../partials/outstandingCarrusel')%>

    <p class="titulos"><a class="titulos-a" href="/categorias">
        OFERTAS
      </a></p>

    <%- include('../partials/offersCarrusel')%>

    <%- include('../partials/brandSlider')%>


    <%- include('../partials/footer')%>

    <!-- Go to Top -->
    <p id="instruction"></p>
    <a href="#top" id="btnTop">&#9650;</a>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
     <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script> 

  </main>

</body>

</html>